////////////////////
//////////////////
//
// Extending Sweetness
// Website
// v 1
//
// SETTINGS
//
// - Asset Paths
// - Colors
// - Typography
//
//////////////////
////////////////////
// Asset Paths
$img-assetpath: 	"/assets/img/";
$font-assetpath:	"/assets/fonts/";
////////////////////
//
// Images
//
////////////////////
$image-embellishments:		"embellishment.png";
$image-cloud:				"cloud.png";
$image-rain-swoosh:			"rain-swoosh.png";
$image-branch:				"branch.png";
$image-raindrops:			"raindrops.png";
////////////////////
//
// Colors
//
////////////////////
$primary:			rgb(52,49,47); // Earth
$secondary:			rgb(249,237,214);  // Beige
$tertiary:			rgb(193,62,22); // Rust

$blue:				rgb(20,54,203);
$cobalt:			rgb(20,52,196);
$darkblue:			rgb(13,25,80);
$aqua:				rgb(14,193,182);
$rust:				rgb(193,62,22);
$beige:				rgb(249,237,214);
$earth:				rgb(52,49,47);
$yellow:			rgb(178,168,61);
$lightgrey:			rgb(69,63,59);
$green:				rgb(53,151,53);
$lightgreen:		rgb(96,177,96);
////////////////////
//
// Margin
//
////////////////////
$margin-small:		50px;
$margin-medium:		80px;
$margin-large:		180px;
////////////////////
//
// Typography
//
////////////////////
$base-font-size:	em(14);
$base-line-height:	em(25);

$font-xlarge:		em(45);
$font-large:		em(30);
$font-medium:		em(20);
$font-small:		em(8);

$primary-font: 		"merriam", courier, san-serif;
$secondary-font: 	"amatic", courier, san-serif;
////////////////////
//
// Z-Index
//
////////////////////
$z-guide:			800;
$z-header:			900;
$z-trailer:			1000;
$z-level-1:			100;
$z-level-2:			200;
$z-level-3:			300;
$z-level-4:			400;
////////////////////
//
// Wireframe
//
////////////////////
$wireframe:			1px solid black;
// Default Width
$default-width:		960px;




