---
layout: default
---
<section id="scene-7" class="scene-7">
  <div id="guide-left-column" class="guide-left-column">
    <div id="guide-image" class="guide-image">
      <img src="assets/img/guide/07_Pollution.jpg" width="1920" height="866" alt="Water Pollution Taboo">
    </div>
    <div id="guide-content" class="guide-content">
      {{ content }}
    </div>
  </div>
  <div id="guide-right-column" class="guide-right-column">
    <div id="divide" class="divide"></div>
    <div id="guide-timecode" class="guide-timecode">{{ page.timecode }}</div>
    <h2 class="h4 guide-header">{{ page.title }}</h2>
    <div id="divide" class="divide"></div>
  </div>
</section>
