---
layout: default
---
<section id="trailer" class="trailer">
	<div class="trailer-center">
		<div class="trailer-content">
			<div class="trailer-wrapper">
				<iframe src="//player.vimeo.com/video/83109602?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="trailer-close">
		<a href="" id="trailer-hide" class=""><img src="assets/img/close.png" width="65" height="64" alt="Close the Trailer"></a>
	</div>
</section><div id="outer-container" class="outer-container">
<section id="home" class="home">
		<div class="cloud-home"></div>
    <header id="header" class="header">
    	<h1 class="logo">Extending Sweetness</h1>
    	<div class="description">A Docu-drama of Rainmaking</div>
    </header>
    <div class="smoke"></div>
    <div class="rain-home-1"></div>
    <div class="rain-home-2"></div>
</section>
	<div class="left-column">
		<section id="synopsis" class="synopsis">
			<a name="synopsisAnchor"></a>
<h3 class="synopsis-header">synopsis</h3>
<p class="synopsis-p">In this story taking place in a contemporary village in Zimbabwe the chief, headmaster, and resident healer worry about having enough rain. The resident rainmaker too worries but she is kept from the local rainmaking monument so she must instead rely on her brother the healer and his granddaughter, Chipo, to help prepare the path for a rainmaking ceremony. To cultivate this path, Chipo, gains allegience from an aqueous being (the njuzu) that causes her to figure as a sensitive bellwether of temperature and temperament.</p>
<div id="cloud-synopsis" class="cloud-synopsis"></div>		</section>
		<section id="credits" class="credits">
			<a name="creditsAnchor"></a>
<div id="waves-credits" class="waves-credits"></div>
<div id="cloud-credits" class="cloud-credits"></div>
<div id="rain-credits-left" class="rain-credits-left"></div>
<div id="rain-credits-right" class="rain-credits-right"></div>
<h3 class="credits-header">credits</h3>
<div class="credits-list">
	<ul id="people" class="people">
		<li><h3 class="h6">Production</h3></li>
		<li>Executive Producers - Otherwise (USA)</li>
		<li>Managing Producer - Mixed Blood Productions (Canada)</li>
		<li>Line Producer - Roof Top Productions (Zimbabwe)</li>
		<li>Directors - Chloé Frommer and Clayton Gunguwo</li>
		<li>Assistant Director - Eddie K Paraziva</li>
		<li>Editors - Chloé Frommer</li>
		<li>Coloring - Benjamin Kinzer</li>
		<li><h3 class="h6">Cast</h3></li>
		<li>Chief/Mambo - Sekuru Chadamoya</li>
		<li>Sekuru Chinamora - Eddie K Paraziva</li>
		<li>Rainmaker-Aunt - Violet Nyakumba</li>
		<li>Makumbi-Chipo - Nancy Muponde</li>
		<li>Madyira/Headmaster - Tawanda Mutumbu</li>
		<li>Muti Merchant - Big Boy Taqwire</li>
		<li>Mbira Musician - Alistair Zimbandu</li>
		<li><h3 class="h6">Rain Dancers</h3></li>
		<li>Erina Chimbende</li>
		<li>Brian Mwanza</li>
		<li>Benfit Choga</li>
		<li>Everjoy Mugate</li>
		<li>Linda Mugate</li>
		<li>Patrick Mandaza</li>
		<li><h3 class="h6">Crew</h3></li>
		<li>Director of Photography - Cuthbert Mucheche</li>
		<li>Second Camera Operator - Chloé Frommer</li>
		<li>Sound Engineers - Cuthbert Mucheche, Nick Kaduwa</li>
		<li>Catering, Wardrobe - Wardrobe - Otillia Paraziva</li>
		<li>Set Design - Chrispen Bere</li>
		<li><h3 class="h6">Musical Score</h3></li>
		<li>"Machakaire" (Rainmaking Song) - Hope Masike</li>
		<li>"Chisi Pro" (African Sabbath) - Nick Kaduwa</li>
		<li>"Green Tea" - Clayton Gunguwo</li>
		<li><h3 class="h6">Script Advisors</h3></li>
		<li>Eddie K Paraziva</li>
		<li>Otillia Paraziva</li>
		<li>Violet Nyakumba</li>
		<li>Daves Guzha</li>
		<li>Clayton Gunguwo</li>
		<li>Muzende</li>
		<li><h3 class="h6">Thank You - Mazvita Zvenyu</h3></li>
		<li>Zimbabwe Ministry of Media, Information and Publicity</li>
		<li>Vivianne Lucas</li>
		<li>The National Museum and Monuments of Zimbabwe</li>
		<li>A Cave Affair - Domboshawa</li>
		<li>University of Zimbabwe Archeologist Seke Katsumudanga</li>
		<li>Website by Benjamin Kinzer</li>
	</ul>
</div>
<div id="branch-credits" class="branch-credits"></div>		</section>
		<section id="rain-pattern" class="rain-pattern">
			<div class="rain-blue"></div>
		</section>
	</div>
	<div class="right-column">
		<section id="news" class="news">
			<a name="newsAnchor"></a>
<h3 class="news-header">News</h3>
<ul class="news-items">
	<li class="news-item"><h2 class="h6"><a href="http://truth-out.org/news/item/21798-what-is-climate-geoengineering-word-games-in-the-ongoing-debates-over-a-definition" target="_blank">Weather Modification Outlawed?</a></h2>
	<p>Climate geoengineering advocates have long argued over how to actually define the term "geoengineering."... <a href="http://truth-out.org/news/item/21798-what-is-climate-geoengineering-word-games-in-the-ongoing-debates-over-a-definition" target="_blank">Click here</a>
	</li>
	<li class="news-item">
		<h2 class="h6"><a href="http://www.zimeye.org/furious-chief-threatens-to-ban-makandiwa/" target="_blank">Called to Duty</a>
		</h2>
	<p>Rainmakers' - Christian or Indigenous - Called to Duty <a href="http://www.zimeye.org/furious-chief-threatens-to-ban-makandiwa/" target="_blank">Click here</a>
	</li>
	<li class="news-item">
		<h2 class="h6"><a href="http://www.thaiwaysmagazine.com/thai_article/2404_thai_tradition_festivals/thai_tradition_festivals.html" target="_blank">Thailand's Rainmaking Programme</a>
		</h2>
	<p>Elsewhere Cited as the "Prior Art" to Thailand's Patented Rainmaking Programme... <a href="http://www.thaiwaysmagazine.com/thai_article/2404_thai_tradition_festivals/thai_tradition_festivals.html" target="_blank">Click here</a>
	</li>
</ul>
<!-- <div class="rain-news-1"></div>
<div class="rain-news-2"></div>
<div class="rain-news-3"></div>
<div class="tree"></div> -->		</section>
		<section id="guide" class="guide">
			<a name="guideAnchor"></a>
<h3 class="guide-header">guide</h3>
<div id="guide-introduction" class="guide-introduction">
	<p>This section is for helping you dive deeper into the film and learn more about rainmaking in Zimbabwe.</p>
</div>
{% for post in site.posts %}
	<div class="scene">
		<a href="{{ post.url | prepend: site.baseurl }}" class="scene-link">
	    	<div class="guide-thumbnail"><img src="assets/img/guide/{{ post.thumbnail }}" alt="{{ post.title }}"></div>
			<div class="scene-description">
				<div class="scene-timecode">
					<span class="scene-timecode-title">timecode</span><br>
					{{ post.timecode }}</div>
				<h5 class="scene-title">{{ post.title }}</h5>
			</div>
		</a>
	</div>
{% endfor %}
</section>
	</div>


</div>
<div id="branch" class="branch"></div>
<div id="rain-synopsis" class="rain-synopsis"></div>
<div id="rain-news" class="rain-news"></div>
