---
layout: default
---
<section id="scene-7" class="scene-7">
  <div id="guide-left-column" class="guide-left-column">
    <div id="guide-image" class="guide-image">
      <img src="{{ base.url }}/assets/img/guide/{{ page.photo }}" width="1920" height="866" alt="Water Pollution Taboo">
    </div>
    <div id="guide-content" class="guide-content">
      {{ content }}
    </div>
  </div>
  <div id="guide-right-column" class="guide-right-column">
    <div id="divide" class="divide"></div>
    <div id="guide-timecode" class="guide-timecode">{{ page.timecode }}</div>
    <h2 class="h4 guide-header">{{ page.title }}</h2>
    <div id="divide" class="divide"></div>
  </div>
</section>



<section id="behind-scenes" class="behind-scenes"></section>
<section id="footer" class="footer"></section>
<div id="guide-detail" class="guide-detail">
			<a name="guideAnchor"></a>
			<div id="guide-container" class="guide-container">
				<div id="scene-header" class="scene-header container">

				</div>
				<div id="scenes-container" class="scenes-container">

				</div>
			</div>
</div>
